#!/bin/bash
# Download and extract Synapse Admin

ADMIN_DIR="[% install_dir %]/admin.[% domain %]"
mkdir -p "$ADMIN_DIR"

wget -O - [% SYNAPSE_ADMIN_URL %] | tar -xz -C "$ADMIN_DIR" --strip-components=1

# Set permissions
chown -R www-data:www-data "$ADMIN_DIR"