verbose    = 0
[% IF custom_log %]
custom_log = [% custom_log %]
[%- END %]
[% IF routers %]
binds      = [% FOR router IN routers %][% router %], [% END %]
[%- END %]
[% IF loggers %]
loggers    = [% FOR logger IN loggers %][% logger %], [% END %]
[%- END %] 
domain     = [% domain %] 
user       = [% user %] 
[% IF bind_dirs %]
binds      = [% FOR bind IN bind_dirs %][% bind %], [% END %]
[%- END %]
